.css-vqmohf-MuiButtonBase-root-MuiRadio-root {
    color: $light !important;
}

.css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
    color: $primaryColor !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    background: $primaryColor !important;
    color: $light !important;
    font-family: $Poppins !important;
    margin-top: 30px !important;
    padding: 13px 20px !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
    background: $primaryHoverColor !important;
}

form {
    padding: 20px 20px;
    background: #3a3329;
    border-radius: 4px;
}

.col.breed {
    width: 30%;
}

.error {
    color: $error;
}

.breed-select {
    width: 200px;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root, .css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root, .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root, .css-qzbt6i-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-popupIndicator {
    color: $light !important;
    font: $Poppins !important;
}

.css-1glvl0p-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-clearIndicator {
    color: $light !important;
}

.css-113ntv0-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-popupIndicator,
.css-113ntv0-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-popupIndicator:hover {
    color: $light !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: $light !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline.Mui-focused {
    border-color: $primaryColor !important;
}




@media only screen and (max-width: 650px) {
    .col.breed {
    width: 100%;
   }
}