@import "./_variables.scss";


.breeds-container {

    min-height: 100vh;
    animation: slide-top 0.4s linear 0s 1 normal both;

    @keyframes slide-top {

        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-50px);
        }
    }

    .breeds-inner-container {

        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        height: auto;
        position: relative;

        .card {
            display: inline-grid;
            overflow: auto;
            background: $primaryColor;
            color: $light;
            border-radius: 11px;
            width: 30%;
            cursor: pointer;
            height: auto;
            padding: 0;
            border: 0;

            &:hover {
                cursor: pointer;
                animation: shadow-drop-center .2s linear 0s 1 normal both;
            }

            .card-top {
                height: 300px;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: 0% 16%;
                    opacity: 0.9;
                }
            }

            .card-bottom {
                padding: 20px;
                text-align: left;

                h1 {
                    font-size: 18px;
                    font-weight: normal;
                    margin-bottom: 14px;
                }
            }

        }
    }

}

.search-input {
    padding: 50px 0;
    text-align: center;

    input {
        padding: 17px 10px 15px 17px;
        border: none;
        border-radius: 4px;
        min-width: 472px;
        font-size: 18px;

        &:focus-visible {
            box-shadow: $primaryColor 0px 1px 5px 2px;
            outline: none;
        }
    }
}
@keyframes shadow-drop-center {

    0% {
        box-shadow: transparent 0px 0px 0px 0px;
    }

    100% {
        box-shadow: $primaryColor 0px 1px 18px 8px;
    }
}

.attribute {
    margin-bottom: 6px;
    margin-top: 15px;
}

.breed-detail-header {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 14px;
}

//media queries
@media (max-width: 1145px) {

    .breeds-container .breeds-inner-container {
        width: 100%;
    }

    .breeds-container .breeds-inner-container .card {
        width: 45%;
    }
}

@media (max-width: 835px) {
    .breeds-container .breeds-inner-container .card {
        width: 66%;
    }
}

@media (max-width: 615px) {
    .breeds-container .breeds-inner-container .card {
        width: 95%;
    }
}

//Media queries 
@media only screen and (max-width: 614px) {

    .search-input {
        margin: 0 12px;
    }

    .search-input input {
    min-width: 100%;
   }
}