@import "./_variables.scss";

.main-content {
    background: $bg;
    
  }
  
 

.breeds-container {

    min-height: 100vh;
    animation: slide-top 0.4s linear 0s 1 normal both;

    @keyframes slide-top {
        
        0% {
            transform:translateY(0);
        }
        100% {
            transform:translateY(-50px);
        }
    }
    .breeds-inner-container {

        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        height: auto;
        

        .card {
            display: block;
            overflow: auto;
            background: $primaryColor;
            color: $light;
            border-radius: 11px;
            //box-shadow: $primaryColor 0px 20px 30px -10px;
            width: 30%;
            margin: 20px 0;
            cursor: pointer;
            height: auto;
            // transform: translateX(100px);
            // opacity: 0;
            // transition: 150ms;

            // &.show {
            //     transform: translateX(0);
            //     opacity: 1;
            // }

            &:hover {
                cursor: pointer;
                //animation: myAnim 2s ease 0s 1 normal forwards;
                animation: shadow-drop-center .2s linear 0s 1 normal both;
            }

            .card-top {
                height: 300px;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: 0% 16%;
                    opacity: 0.9;
                }
            }

            .card-bottom {
                padding: 20px;

                h1 {
                    font-size: 18px;
                    font-weight: normal;
                    margin-bottom: 14px;
                }
            }

        }
    }

}

.search-input {
    padding: 50px;
    text-align: center;

    input {
        padding: 17px 10px 15px 17px;
        border: none;
        border-radius: 4px;
        min-width: 472px;
        font-size: 18px;

        &:focus-visible {
            box-shadow: $primaryColor 0px 1px 5px 2px;
            outline: none;
        }
    }
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-out;
		transform: scale(0);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}

@keyframes shadow-drop-center {
			
    0% {
        box-shadow: transparent 0px 0px 0px 0px;
    }
    100% {
        box-shadow: $primaryColor 0px 1px 18px 8px;
    }
}

.attribute {
    margin-bottom: 6px;
    margin-top: 15px;
}

.breed-detail-header {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 14px;
}

//media queries
@media (max-width: 1145px) {

    .breeds-container .breeds-inner-container {
        width: 100%;
    }
    .breeds-container .breeds-inner-container .card {
        width: 45%;
    }
}

@media (max-width: 835px) {
    .breeds-container .breeds-inner-container .card {
        width: 66%;
    }
}

@media (max-width: 615px) {
    .breeds-container .breeds-inner-container .card {
        width: 95%;
    }
}

