.row {
    display: flex;
    flex-wrap: wrap;
}
 
.col {
    margin-bottom: 40px;
    margin-right: 8px;
}

.text-right {
    text-align: right;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.justify-content-space-between {
    justify-content: space-between;
}