@import "./variables.scss";

.main-container {
    width: 80%;
    min-height: $bodyHeight;
    margin: auto;

    .inner-container {
        padding: 36px 74px;
        animation: slide-top 0.4s linear 0s 1 normal both;

        @keyframes slide-top {
			
            0% {
                transform:translateY(0);
            }
            100% {
                transform:translateY(-50px);
            }
        }
        .title-container {
            font-size: 27px;
        }

        .sub-title {
            margin-top: 30px;
            font-weight: 400;
            font-size: 20px;
            margin: 30px 0 50px;
            color: $light;
        }
    }
}