.ReactModal__Overlay.ReactModal__Overlay--after-open {
    background-color: #100f0de6 !important;
}

.ReactModal__Content.ReactModal__Content--after-open {
    border: none!important;
    border-radius: 11px !important;
    padding: 40px !important;
    .close-button {
        background: $primaryColor !important; 
        color: $light !important;
        border-radius: 4px !important;
        margin-bottom: 25px !important;

        &:hover {
            cursor: pointer !important;
            background: $primaryHoverColor !important;
        }
    }
}