@import './variables.scss';
.site-header-container {
    box-shadow: $primaryColor 0px 9px 46px 46px;
    position: relative;
    background: $primaryColor;
    margin-bottom: 150px;
}

.site-header {
    position: relative;
    font-size: 18px;
    padding-top: 30px;
}

    .paw-icon {
        position: absolute;    
        left: 67px;
        top: 19px;
        font-size: 55px;
        transform: rotateZ(-27deg);

        &:hover {
            cursor: pointer;
        }
    }

    .navigation {
        display: flex;
        padding: 10px;
        list-style: none;
        justify-content: flex-end;

        .nav-item {
            padding-right: 30px;

            a {
                position: relative;
                padding-bottom: 3px;

                &::before {
                    position: absolute;
                    content: '';
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 2px;
                    transition: width 0.25s ease-out;
                    background-color: $light;
                }

                &:hover::before {
                    width: 100%;
                }
            }

            a.active {
                border-bottom: 3px solid $light;
                padding-bottom: 1px;
            }

            a.active:hover:before {
                display: none;
            }
        }
    }
