@import "./variables.scss";

.spinner {
    height: 100vh;
    position: relative;

    .spinner-bone {
        position: fixed;
        color: $primaryColor;
        top: 50%;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        font-size: 100px;
        
		animation-name: rotate-center;
		animation-duration: 1s;
		animation-timing-function: ease;
		animation-delay: 0s;
		animation-iteration-count: infinite;
		animation-direction: normal;
		animation-fill-mode: none;
    }
}

@keyframes rotate-center {
			
    0% {
        transform:rotate(0);
    }
    100% {
        transform:rotate(360deg);
    }
}