
$Poppins: 'Poppins', sans-serif;

//Colors
$dark: rgb(29,29,29);
$light: #d9cdcd;
$primaryColor: #AC6200;
$primaryHoverColor: #cd7603f2;
$bg: black;
$border: grey;
$text: #000;
$error: red;



// border radius
$borderRadius: 12px;

// header height
$headerHeight: 50px;

//body height without header
$bodyHeight: calc(100vh - 300px);
