
$Poppins: 'Poppins', sans-serif;

//Colors
$dark: rgb(29,29,29);
$light: #fff;
$primaryColor: #AC6200;
$bg: black;
$border: grey;
$text: #000;



// border radius
$borderRadius: 12px;

// header height
$headerHeight: 50px;

//body height without header
$bodyHeight: calc(100vh - 50px);

@mixin breakpoint($point) {
    @if $point == md {
        // 768px
        @media (min-width: 48em) {
            @content;
        }
    }
}