@import './variables.scss';

.site-header {
    background: $navColor;
    color: $light;
    height: $headerHeight;
    position: relative;

    .paw-icon {
        position: absolute;
        left: 38px;
        top: 9px;
        font-size: 32px;

        &:hover {
            cursor: pointer;
        }
    }

    .navigation {
        display: flex;
        padding: 10px;
        list-style: none;
        justify-content: flex-end;

        .nav-item {
            padding-right: 30px;

            a {
                position: relative;
                padding-bottom: 3px;

                &::before {
                    position: absolute;
                    content: '';
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 2px;
                    transition: width 0.25s ease-out;
                    background-color: $light;
                }

                &:hover::before {
                    width: 100%;
                    
                }
            }
        }
    }
}